{% extends 'base.html' %}


{% block contenu %}

<h1 class="text-center"> Bienvenue dans la page détail d'un profile  </h1>



        <p class="text-center"> {{ profile.username }} </p> <br>
        <p class="text-center"> {{ profile.email }} </p> <br>
        {% if profile.profile_photo %}
        <p class="text-center"> <img src="{{ profile.profile_photo.url }}" >  </p> <br>
        {% else %}

        <p class="text-center"> <img src="" alt="Pas de photo profile">  </p> <br>
        {% endif %}
        <p class="text-center"> {{ profile.sexe }} </p> <br>
        <p class="text-center"> {{ profile.adress_home }} </p> <br>

{% if profile.username == user.username %}
<p> <a href="{% url 'authentication:edit_profile' profile.id %}">Modifier Le profile</a> </p>
{% endif %}


{% if profile.username == user.username %}
<p class="text-center"><a href="{% url 'authentication:password_change' %}"> Changer mon mot de passe </a> </p>
{% endif %}




 {% if perms.job.change_worker and profile.username == user.username %}
        <p><a href="{% url 'job:worker_detail' profile.id %}"> Modifier Travailleur</a> </p>

        {% endif %}


{% endblock %}