{% extends 'base.html' %}


{% block contenu %}

<h1 class="text-center"> Bienvenue dans la page détail d'un profile  </h1>



        <p class="text-center"> {{ profile.username }} </p> <br>
        <p class="text-center"> {{ profile.email }} </p> <br>
        {% if user.profile_photo %}
        <p class="text-center"> <img src="{{ user.profile_photo.url }}">  </p> <br>
        {% else %}

        <p class="text-center"> <img src="" alt="Pas de photo profile">  </p> <br>
        {% endif %}
        <p class="text-center"> {{ profile.sexe }} </p> <br>
        <p class="text-center"> {{ profile.home_adress }} </p> <br>

<p> <a href="{% url 'edit_profile' profile.id %}">Modifier Le profile</a> </p>

{% if perms.add_worker %}
<p class="text-center"><a href="{% url 'worker_detail' profile.id %}"> Voir mon  Boulot </a> </p>

{% endif %}

{% endblock %}