{% extends 'base.html' %}


{% block contenu %}
<h1> la page de detail d'un Ouvrier </h1>

    <div class="text-center">
        <p> {{ work.metier }} </p>
    <p> {{ work.ouvrier }} </p>
    <p> {{ work.bio }} </p>
    <p> {{ work.adress_home }} </p>
    <p> {{ work.zone_de_deplacement }} </p>
    <p> {{ work.jour_de_travaille }} </p>
        <p> {{ work.etoile }} </p>
        {% if work.ouvrier == user %}
        <p><a href="{% url 'job:worker_edit_and_delete' work.id %}"> Modifier Travailleur</a> </p>
        {% endif %}
    </div>

<h1> {{ user }} </h1>


{% endblock %}