{% extends 'base.html' %}


{% block contenu %}

<h1 class="text-center"> Bienvenue dans la page d'accueil</h1>
{% if user.is_authenticated %}
 <p class="text-center">Vous ètes connecter en tan que : {{ user.username }} </p>
<p> <a class="text-center" href="{% url 'authentication:logout' %}"> se deconnecter</a> </p>
{% else %}
<p class="text-center"><a href="{% url 'authentication:login' %}">se connecter</a> </p>
{% endif %}

{% if user.WORKER %}

{% for profile in profiles %}

 {{ message }}
 {{ profile.username }}
{{ profile.email }}
{{ profile.role }}
{% if profile.username == user.username %}
 <p class="text-center"><a href="{% url 'authentication:detail_profile' profile.id %}">Mon Profile</a> </p>

{% else %}
<p class="text-center"><a href="{% url 'authentication:detail_profile' profile.id %}">Regarder le Profile</a> </p>
{% endif %}


{% endfor %}

{% endif %}

<p><a href="{% url 'job:workers_views' %}"> Les ouvriers </a> </p>


{% endblock %}