{% extends 'base.html' %}

{% block contenu %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<h1 class="text-center"> Bienvenue dans la page d'accueil</h1>

 <section class="home-container">

     <div class="metier">
      <h3><a href="{% url 'job:home' %}">All Metier</a> </h3>
      <p>{{ metiers.count }}</p>
     {% for metier in metiers %}
     <div>
         <a href="{% url 'job:home' %}?q={{metier.nom_du_metier}}">{{ metier.nom_du_metier }}</a>
     </div>

      {% endfor %}
        <p><a href="{% url 'job:workers_views' %}"> Plus </a> </p>
    </div>

    <div>
     {% if user.WORKER %}

        {% for worker in workers %}
        <div>
             {% if user.profile_photo %}
             <img src="{{ worker.ouvrier.profile_photo.url }}" width="70">
             {% else %}
             <h4>Pas de photo</h4>
             {% endif %}
            @{{ worker.ouvrier }}
            {{ worker.metier }}
            {{ worker.jours_de_travaille }}


         {% if user == worker.ouvrier %}
        <p class="text-center"><a href="{% url 'job:worker_detail' worker.id %}"> Voir Mon profile </a> </p>
        {% else %}
        <p class="text-center"><a href="{% url 'job:worker_detail' worker.id %}"> Voir le profile travailleur </a> </p>

        {% endif %}

        </div>
        {% endfor %}
     {% endif %}
    </div>



  <div>
 <h3>Recent activity</h3>
  </div>

<p><a href="{% url 'job:workers_views' %}"> Les ouvriers </a> </p>
 </section>
{% endblock %}